<mat-sidenav-container class="container">

    <!-- Menu -->
    <mat-sidenav
      #sidenav
      [mode]="isMobile ? 'over' : 'side'"
      [(opened)]="isSidenavOpen"
      (backdropClick)="isMobile && (isSidenavOpen = false)"
      (keydown.escape)="isMobile && (isSidenavOpen = false)">

      <mat-toolbar color="primary" *ngIf="isMobile">
        <button mat-icon-button (click)="isSidenavOpen = false">
          <mat-icon>close</mat-icon>
        </button>
        <span>RH App</span>
      </mat-toolbar>

      <h3 class="menu-title" *ngIf="!isMobile">RH App</h3>

      <mat-nav-list>
        <a mat-list-item routerLink="dashboard" (click)="isMobile && (isSidenavOpen = false)">Dashboard</a>
        <a mat-list-item routerLink="employees" (click)="isMobile && (isSidenavOpen = false)">Liste employés</a>
        <a mat-list-item routerLink="employees/create" (click)="isMobile && (isSidenavOpen = false)">Créer employé</a>
        <a mat-list-item routerLink="leaves" (click)="isMobile && (isSidenavOpen = false)">Demandes congés</a>
        <a mat-list-item routerLink="attendance" (click)="isMobile && (isSidenavOpen = false)">Pointage</a>
        <a mat-list-item routerLink="attendance/list" (click)="isMobile && (isSidenavOpen = false)">Historique pointages</a>
        <a mat-list-item routerLink="projects" (click)="isMobile && (isSidenavOpen = false)">Projets</a>
        <a mat-list-item routerLink="calendar" (click)="isMobile && (isSidenavOpen = false)">Planning</a>
      </mat-nav-list>

    </mat-sidenav>
    

    <!-- Contenu -->
    <mat-sidenav-content>

      <mat-toolbar color="primary">
        <button
          mat-flat-button
          color="primary"
          (click)="toggleSidenav()"
          class="toolbar-menu-button">
          <mat-icon>menu</mat-icon>
          <span>MENU</span>
        </button>

        <span>Dashboard RH</span>

        <!-- Menu utilisateur -->
        <span class="spacer"></span>
        <span *ngIf="currentUser" class="user-info">
          {{ currentUser?.firstName }} {{ currentUser?.lastName }}
        </span>
        <button mat-icon-button [matMenuTriggerFor]="userMenu" *ngIf="currentUser">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item disabled>
            <mat-icon>person</mat-icon>
            <span>{{ currentUser?.firstName }} {{ currentUser?.lastName }}</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>email</mat-icon>
            <span>{{ currentUser?.email }}</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Déconnexion</span>
          </button>
        </mat-menu>
      </mat-toolbar>

      <div class="content">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>